body {
	display: flex;
	flex-direction: column;
	justify-content:center;
	min-height:100vh;
}

a.line-login-btn {
	background-image: url("../img/btn_login_base.png");
	background-size: 151px 44px;
	display: block;
	width: 151px;
	height: 44px;
	margin: 0 auto;
}

a.line-login-btn:hover {
	background-image: url("../img/btn_login_hover.png");
}

a.line-login-btn:active {
	background-image: url("../img/btn_login_press.png");
}

th, td {
	border: solid 1px black;
	text-align: center:
	width: 200px;
}

table {
	border: solid 1px black;
	max-width: 500px;
}